{%extends 'core/base.html' %}

{% load static %}

{% block main %}

    <section id="seccionCarrito">

        <div class="row d-flex justify-content-center">
            <div class="col-lg-11">
    
                <div class="elementoCaja">
                    
                    <a  class="btn btn-outline-dark" href="{% url 'catalogo' %}">&#x2190; Seguir comprando</a>

                    <br>
				    <br>
				    <table class="table">
					    <tr>
						    <th><h5>Productos: <strong>{{total_productos}}</strong></h5></th>
						    <th><h5>Total:<strong> {{ carrito.total_precio }}</strong></h5></th>
						    <th>
							<a style="float:right; margin:5px;" class="btn btn-success" href="realizar_pedido">Realizar pedido</a>
						    </th>
                            <th><a  style="float:right; margin:5px;" class="btn btn-success" href="limpiar_carrito">Vaciar carrito</a>
						    </th></th>
					    </tr>
				    </table>
    
                </div>
    
                <br>
    
                <div class="elementoCaja">

                    <div class="container">
                        
                        <div class="row">
                            
                            <div class="col-lg-4"></div>
                            <div class="col-lg-2"><strong>Producto</strong></div>
                            <div class="col-lg-2"><strong>Precio unitario</strong></div>
                            <div class="col-lg-2"><strong>Cantidad</strong></div>
                            <div class="col-lg-2"><strong>Total</strong></div>
    
                        </div>
    

                    </div>
                    
                    

                    <div class="container">

                        {% for key, item in carrito.carrito.items %}

                        <div class="row filaCarrito">

                            <div class="col-lg-4"><img class="row-image" src="{{ item.imagen_url }}"></div>
                            <div class="col-lg-2"><p>{{item.nombre}}</p></div>
                            <div class="col-lg-2"><p>${{ item.precio_unitario }}</p></div>
                            <div class="col-lg-2">

                                <div class="row">
                                    <div class="col-lg-2">{{item.cantidad}}</div>
                                    <div class="col-lg-1"><a href="{% url 'agregar_producto' item.producto_id %}">
                                        <img class="chg-quantity" src="{% static 'imagenes/arriba.png' %}" alt="Aumentar cantidad"></a></div>
                                    <div class="col-lg-1"><a href="{% url 'restar_producto' item.producto_id %}">
                                        <img class="chg-quantity" src="{% static 'imagenes/abajo.png' %}" alt="Disminuir cantidad"></a> </div>

                                </div>

                            </div>
                            <div class="col-lg-2"><p>${{item.acumulado}}</p></div>

                        </div>

                        {% endfor %}
                    </div>
    
    
                </div>
    
            </div>
        </div>


    </section>

    <script>

        function mostrarAlerta() {
                   Swal.fire({
                   icon: 'error',
                   title: 'Oops...',
                   text: 'El carrito se encuentra vacio',
                });
                }
    
    
      </script>
    


{% endblock %}