{%extends 'core/base.html' %}

{% load static %}

{% block main %}

    <section id="seccionCarrito">

        <div class="row d-flex justify-content-center">
            <div class="col-lg-11">
    
                <div class="elementoCaja">
                    
                    <a  class="btn btn-outline-dark" href="{% url 'catalogo' %}">&#x2190; Seguir comprando</a>

                    <br>
				    <br>
				    <table class="table">
					    <tr>
						    <th><h5>Productos: <strong>{{carrito|length}}</strong></h5></th>
						    <th><h5>Total:<strong> {{ carrito.total_precio }}</strong></h5></th>
						    <th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="#">Realizar pedido</a>
						    </th>
					    </tr>
				    </table>
    
                </div>
    
                <br>
    
                <div class="elementoCaja">

                    <div class="filaCarrito">
                        <div style="flex:2"></div>
                        <div style="flex:2"><strong>Item</strong></div>
                        <div style="flex:1"><strong>Price</strong></div>
                        <div style="flex:1"><strong>Quantity</strong></div>
                        <div style="flex:1"><strong>Total</strong></div>
                    </div>
                    {% for key, item in carrito.carrito.items %}
                    <div class="filaCarrito">
                        <div style="flex:2"><img class="row-image" src="{{ item.imagen_url }}"></div>
                        <div style="flex:2"><p>{{item.nombre}}</p></div>
                        <div style="flex:1"><p>${{item.precio}}</p></div>
                        <div style="flex:1">
                            <p class="quantity">{{item.cantidad}}</p>
                            
                            <div class="quantity">
                                <a href="{% url 'agregar_producto' item.producto_id %}">
                                    <img class="chg-quantity" src="{% static 'imagenes/arriba.png' %}" alt="Aumentar cantidad">
                                </a>
                                <!-- Botón para disminuir cantidad -->
                                <a href="{% url 'restar_producto' item.producto_id %}">
                                    <img class="chg-quantity" src="{% static 'imagenes/abajo.png' %}" alt="Disminuir cantidad">
                            </div>
                        </div>
                        <div style="flex:1"><p>${{item.acumulado}}</p></div>
                    </div>
                    {% endfor %}
    
    
                </div>
    
            </div>
        </div>


    </section>
    


{% endblock %}